body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    padding-left: 20px;
}

.box {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.content {
    margin-top: 40px;
    padding: 20px;
}

/* Contenedor para las cajas de personajes */
.characters {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    padding: 20px;
    position: absolute;
    left: 320px;
   
}

/* Cajas de personajes con el mismo tamaño que la caja principal */
.character-card {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
}

.character-card .circle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}